.Product{
    background-color: rgb(63, 63, 57);
    border-radius: 15px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
    font-size: 10px;
    border: 2px solid rgb(255, 255, 255);
}

.Product:hover{
    background-color: purple;
}